version: "3.5"

x-postgres-config: &postgres-config
    POSTGRES_USER: admin
    POSTGRES_PASSWORD: secret
    POSTGRES_DB: postgres
    POSTGRES_PORT: 5432
    POSTGRES_HOST: postgres

services:
    postgres:
        image: postgres:13
        container_name: todo-postgres
        environment:
            <<: *postgres-config

    api:
        image: todo-api
        container_name: todo-api
        build:
            dockerfile: Dockerfile.api
            context: .
        ports:
            # this is necessary for browser to reach the api :D
            - 3000:3000
        command: npm start
        environment:
            <<: *postgres-config

    web:
        image: todo-web
        container_name: todo-web
        build:
            dockerfile: Dockerfile.web
            context: .
        ports:
            - 8000:80
