on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: docker-compose -f "${GITHUB_WORKSPACE}/docker-compose.test.yml" build --parallel
            - run: docker-compose -f "${GITHUB_WORKSPACE}/docker-compose.test.yml" up -d
            - run: docker exec todo-api npm run test:ci
            - name: API test results
              uses: actions/upload-artifact@v2
              if: always()
              with:
                  name: api-test-results
                  path: api-test-results/
