on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - run: docker-compose -f "${GITHUB_WORKSPACE}/docker-compose.test.yml" build --parallel
            - run: docker-compose -f "${GITHUB_WORKSPACE}/docker-compose.test.yml" up -d
            - run: docker exec todo-api npm run test:ci
